.todoForm__container {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.todoInput {
    padding: 5px 20px;
    font-size: 24px;
    background-color: #CCC2FE;
    border-radius: 5px;
    font-weight: 800;
}

.todoForm__container button {
    background: #7e64ff;
    color: white;
    padding: 5px 20px;
}