.todo {
    display: flex;
    width: 100%;
    max-width: 500px;
    padding: 5px 20px;
    color: white;
    border: 1px solid gray;
    font-size: 24px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
}

.competedTodo {
    background-color: unset;
    border-color: gray;
    color: gray;
    text-decoration: line-through;
}

.todo__info {

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    gap: 10px;
}



.todo__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-direction: row;
}

.todo__controls button {
    background-color: transparent;
    transition: transform 0.3s ease;
    color: white;
}

.todo__controls button .todo__checkIcon,
.todo__controls button .todo__deleteIcon {
    color: inherit;
    font-size: 2rem;
    transition: all 0.3s ease;
}


.todo__controls .todo__checkIcon:hover {
    color: green;
}

.todo__controls .todo__deleteIcon:hover {
    color: red;
}

.todo__controls button:hover {
    transform: scale(1.1);
}

.competedTodo .todo__controls button {
    color: gray;

}

.todo.competedTodo .todo__controls button .todo__checkIcon,
.todo.competedTodo .todo__controls button .todo__deleteIcon {
    color: gray;
}